In [1]:
import pandas as pd
import tabula

In [2]:
first_page = tabula.read_pdf("electoral-bond-data-receiver.pdf", pages=1)
column_names = first_page[0].columns.tolist()
remaining_pages = tabula.read_pdf("electoral-bond-data-receiver.pdf", pages="all", pandas_options={'header': None})
# drop the first page
remaining_pages = remaining_pages[1:]
for df in remaining_pages:
  # copy the column name from first page
  df.columns = column_names
# merge all the pages
df = pd.concat([first_page[0]] + remaining_pages)

In [3]:
df.columns

Index(['Date of\rEncashment', 'Name of the Political Party', 'Denomination'], dtype='object')

In [4]:
df.columns = df.columns.str.replace('\r', ' ')

In [5]:
len(df)

20421

In [6]:
df.head()

  Date of Encashment               Name of the Political Party Denomination
0        12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM    10,00,000
1        12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM    10,00,000
2        12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM  1,00,00,000
3        12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM    10,00,000
4        12/Apr/2019  ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM    10,00,000

In [7]:
df['Date of Encashment'] = pd.to_datetime(df['Date of Encashment'], format='%d/%b/%Y')

In [8]:
df['Denomination'] = df['Denomination'].str.replace(',', '').astype(int)

In [9]:
df.to_csv('electoral-bond-receiver.csv', index=False, header=True)

In [10]:
# group by date of purchase, purchaser name and denomination
grouped_df = df.groupby(['Date of Encashment', 'Name of the Political Party', 'Denomination']).size().reset_index(name='count')

In [11]:
grouped_df.head()

,Date of Encashment,Name of the Political Party,Denomination,count
0,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,30
1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,3
2,2019-04-12,BHARAT RASHTRA SAMITHI,1000000,5
3,2019-04-12,BHARAT RASHTRA SAMITHI,10000000,22
4,2019-04-12,BHARTIYA JANTA PARTY,100000,30

In [12]:
grouped_df = grouped_df.sort_values(by=['Date of Encashment', 'Name of the Political Party', 'Denomination', 'count'])

In [13]:
grouped_df.head()

,Date of Encashment,Name of the Political Party,Denomination,count
0,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,30
1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,3
2,2019-04-12,BHARAT RASHTRA SAMITHI,1000000,5
3,2019-04-12,BHARAT RASHTRA SAMITHI,10000000,22
4,2019-04-12,BHARTIYA JANTA PARTY,100000,30

In [ ]:
# save to csv
grouped_df.to_csv('electoral-bond-data-receiver-grouped-freq.csv', index=False, header=True)